* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.circle {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  position: absolute;
}
#buttons{
    width: 250px;
    /* height: 30px; */
}
button{
    padding: .5rem 1rem;
}
#wrapper{
  height: 100vh;
  position: relative;
}
