* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.circle {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  position: absolute;
  animation: pop 1s;;
}
#buttons{
    width: 250px;
    /* height: 30px; */
}
button{
    padding: .5rem 1rem;
}
#wrapper{
  height: 100vh;
  position: relative;
}
@keyframes pop {
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);;
    }
    
}
